@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*{
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body .modal-voice-container{
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 0;
    top: 2;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
    animation: fadein 1s ease-in-out;
}
body .modal-voice-container .modal{
    align-self: center;
    background-color: rgb(22, 22, 22);
    padding: 1rem;
    border: none;
    border-radius: 20px;
    width: 30%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: #fff;
}
body .modal-voice-container .modal .icon, body .modal-voice-container .modal .icon2,body .modal-voice-container .modal .icon3{
    padding: 0.5rem;
    border: 1px solid rgba(0, 170, 255, 0.135);
    background-color: rgba(0, 170, 255, 0.278);
    border-radius: 34% 66% 49% 51% / 69% 45% 55% 31%;
    animation: microphone_wave infinite 1s alternate-reverse ease-in;
}
body .modal-voice-container .modal .icon2{
    border-radius:55% 45% 49% 51% / 61% 54% 46% 39%;
    animation: microphone_wave infinite 3s alternate-reverse ease-in;
    animation: rotate infinite 1s ease-in;
}
body .modal-voice-container .modal .icon2 {
    border-radius: 55% 45% 39% 61% / 54% 52% 48% 46%;
    animation: microphone_wave infinite 5s alternate-reverse ease-in;
}
body .modal-voice-container .modal i{
    padding: 1rem;
}
body .modal-voice-container .modal .entered-text{
    text-align: center;
    width: 100%;
    height: 30%;
    padding: 1rem;
    overflow: auto;
}
body .modal-voice-container .modal .output{
/* font-size: 0.7rem; */
color: rgb(25, 148, 148);
}
body .modal-voice-container .modal #recognition-button{
    width: 50%;
    border: none;
    background-color: rgb(23, 51, 64);
    color: #fff;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 0.2rem;
}
body .modal-voice-container .modal #recognition-button:hover{
    background-color: rgba(0, 170, 255, 0.728);
}

.container{
    width: 100vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/bg1.avif) no-repeat;
    background-size: cover;
}

body .main-container{
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body .main-container h1{
    color: #fff;
    font-size: 6rem;
}

body .main-container .container-search{
    background-color: rgb(255, 255, 255);
    color: #000;
    border-radius: 360px;
    width: 170%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .main-container .container-search i{
    font-size: 1.2rem;
}

body .main-container .container-search .search-input{
    border: none;
    width: 80%;
    padding: 10px;  
    margin: 0.5rem 0.2rem;
}
.search-input:focus{
    outline: none;
}

.search-input{
    background-color: rgb(255, 255, 255, 0%);
}
.fa-microphone{
    cursor: pointer;
    transition: color 0.5s ease-out;
}
.fa-microphone:hover{
    color: rgb(14, 119, 211);
}
.container .images-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(246, 244, 244, 0.603);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.container .images-container p{
    color: white;
    padding-bottom: 1rem;
}
.container .images-container img{
    width: 8rem;
    height: 6rem;
    border: #f9f9f9 5px solid;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(127, 125, 125, 0.065);
    cursor: pointer;
    transition: color 0.5s ease-out;

}
.image_photo{
    transition: opacity 0.5s ease-out;
}
.image_photo:hover{
    opacity: 0.5;
}

/*MEDIA QUERIES*/
@media(max-width:1100px) {
    body .modal-voice-container .modal{
        width: 50%;
    }
}
@media(max-width:700px) {
    body .main-container .container-search {
        width: 150%;
    }
}

@media(max-width:600px) {
    body .main-container h1 {
        font-size: 5rem;
    }
    .container .images-container img{
        width: 7rem;
        height: 5rem;
    }
    body .modal-voice-container .modal{
        width: 60%;
        /* height: 70vh; */
    }
    body .modal-voice-container .modal .output{
        font-size: 0.7rem;
    }
}

@media(max-width:500px) {
    body .main-container h1 {
        font-size: 4.8rem;
    }
    body .main-container .container-search {
        width: 120%;
        padding: 0.5rem 2rem;
    }
    .container .images-container img{
        width: 5rem;
        height: 4rem;
    }
}

@media(max-width:400px) {
    body .main-container h1 {
        font-size: 4.5rem;
    }
    body .main-container .container-search {
        width: 100%;
        padding: 0.3rem 1.7rem;
    }
    
    body .modal-voice-container .modal{
        width: 70%;
    }
    .container .images-container img{
        width: 4rem;
        height: 3rem;
    }
}

@media(max-width:300px) {
    body .main-container h1 {
        font-size: 4rem;
    }

    body .main-container .container-search {
        width: 90%;
        padding: 0.2rem 1.6rem;
    }

    body .modal-voice-container .modal {
        width: 70%;
    }

    .container .images-container img {
        width: 3rem;
        height: 2rem;
    }
}


/* Keyframes */
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes microphone_wave {
    to {
        transform: scale(1.5);
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}