@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*{
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/bg1.avif) no-repeat;
    background-size: cover;
}

body .main-container{
    margin-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body .main-container h1{
    color: #fff;
    font-size: 6rem;
}

body .main-container .container-search{
    background-color: rgb(255, 255, 255, 50%);
    color: #000;
    border-radius: 360px;
    width: 170%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .main-container .container-search i{
    font-size: 1.2rem;
}

body .main-container .container-search .search-input{
    border: none;
    width: 80%;
    padding: 10px;  
    margin: 0.5rem 0.2rem;
}
.search-input:focus{
    outline: none;
}

.search-input{
    background-color: rgb(255, 255, 255, 0%);
}